<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Check out these birds!</h1>
    <a href="/birds_that_fly">These Birds Fly</a><br/>
    <a href="birds_that_dont_fly">These Birds Don't Fly</a>
</body>
</html>